
body {
	padding-top: 100px;
}

#main {
	background: white;
	height: 700px;
	text-align: center;
	width: 650px;
}

#text {
	padding-left: 20px; padding-right: 20px; 
	padding-top: 5px; padding-bottom: 5px;
	text-align: left;
}